In [1]:
import pandas as pd
import datetime
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data_times = pd.read_csv('visitor_arena.csv')

In [3]:
data_times['visitor_norm']=data_times.visitor.apply\
(lambda x: (x-data_times.visitor.mean())/(data_times.visitor.std()))

In [4]:
data_times.head()

   visitor  channel_id created_date  visitor_norm
0        1        6211   2020-03-13     -0.627925
1        1        6211   2020-03-11     -0.627925
2        1        6172   2020-03-11     -0.627925
3        1        6172   2020-03-10     -0.627925
4        1        6172   2020-03-09     -0.627925

In [5]:
arena_banyak = data_times[['channel_id']]

In [6]:
ones = np.ones(data_times.shape[0])

In [7]:
arena_banyak.insert(loc=1,column='count',value=ones)

In [8]:
arena_banyak=arena_banyak.groupby(['channel_id']).sum()

In [9]:
arena_banyak

            count
channel_id
96           16.0
260           1.0
309           1.0
347         168.0
401          82.0
...           ...
6156          7.0
6157          2.0
6159          3.0
6172          4.0
6211          2.0

[265 rows x 1 columns]

In [10]:
arena_banyak = arena_banyak.sort_values(by=['count'],ascending=False)

In [15]:
arena_banyak

            count
channel_id
5500        178.0
347         168.0
419         148.0
417         136.0
5551        128.0
5503        125.0
418         124.0
5434        124.0
5433        117.0
5539        117.0
425         113.0
5455        102.0
5508         91.0
420          83.0
401          82.0
5554         79.0
5521         73.0
5814         69.0
5736         62.0
5485         58.0
5509         58.0
5505         56.0
5412         46.0
5272         46.0
5700         45.0
5697         39.0
5512         39.0
5305         38.0
5643         37.0
5565         37.0
5632         37.0
5494         36.0
5679         31.0
432          30.0

In [11]:
arena_banyak = arena_banyak.loc[arena_banyak['count']>=30]

In [12]:
#list arena yang layak
list_arena = arena_banyak.index.to_list()

In [13]:
data_times=data_times.loc[data_times['channel_id'].isin(list_arena)]

In [14]:
data_times

      visitor  channel_id created_date  visitor_norm
246         2        5814   2020-03-12     -0.556072
247        38        5814   2020-03-11      2.030613
248         4        5814   2020-03-10     -0.412368
249         3        5814   2020-03-09     -0.484220
250         1        5814   2020-03-07     -0.627925
...       ...         ...          ...           ...
3668       37         347   2019-05-28      1.958760
3669        1         347   2019-05-27     -0.627925
3670       32         347   2019-05-24      1.599499
3671       39         347   2019-05-17      2.102465
3672       35         347   2019-05-10      1.815056

[2752 rows x 4 columns]

In [16]:
data_times.reset_index(drop=True)

      visitor  channel_id created_date  visitor_norm
0           2        5814   2020-03-12     -0.556072
1          38        5814   2020-03-11      2.030613
2           4        5814   2020-03-10     -0.412368
3           3        5814   2020-03-09     -0.484220
4           1        5814   2020-03-07     -0.627925
...       ...         ...          ...           ...
2747       37         347   2019-05-28      1.958760
2748        1         347   2019-05-27     -0.627925
2749       32         347   2019-05-24      1.599499
2750       39         347   2019-05-17      2.102465
2751       35         347   2019-05-10      1.815056

[2752 rows x 4 columns]

In [17]:
def trim(df,col,col_value):
    df_o = pd.DataFrame(columns=['visitor','channel_id','created_date','visitor_norm']) #blank
    for col_v in col_value:
        df_x = df.loc[df[col]==col_v][:30]
        df_o = df_o.append(df_x,ignore_index=True)
    
    return df_o

In [18]:
data_times_trim = trim(data_times,'channel_id',list_arena)

In [19]:
data_times_trim

     visitor channel_id created_date  visitor_norm
0          1       5500   2020-03-11     -0.627925
1          1       5500   2020-03-05     -0.627925
2          1       5500   2020-02-17     -0.627925
3          1       5500   2020-02-06     -0.627925
4          1       5500   2020-01-30     -0.627925
...      ...        ...          ...           ...
1015      51        432   2019-06-10      2.964693
1016      27        432   2019-05-27      1.240237
1017       6        432   2019-05-20     -0.268663
1018       1        432   2019-05-14     -0.627925
1019      22        432   2019-05-13      0.880975

[1020 rows x 4 columns]

In [20]:
data_times = data_times.sort_values(by=['created_date'])

In [30]:
series_time = data_times_trim['visitor_norm']

In [31]:
series_time = series_time.values.reshape(len(list_arena),30)

In [32]:
data_times_clean = pd.DataFrame(data=series_time)

In [33]:
data_times_clean

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,...,0.880975,1.815056,-0.412368,0.880975,-0.627925,-0.556072,1.886908,-0.556072,1.024680,1.743203
1,-0.627925,-0.196810,2.389875,-0.412368,-0.627925,-0.340515,-0.340515,-0.268663,2.820989,-0.627925,...,-0.412368,-0.627925,-0.484220,-0.412368,-0.340515,2.820989,-0.340515,-0.196810,-0.484220,0.018747
2,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.556072,-0.556072,-0.556072,-0.556072,2.102465,...,0.234304,1.815056,-0.627925,0.809123,-0.556072,0.809123,-0.627925,-0.627925,1.743203,0.521713
3,-0.627925,-0.627925,-0.484220,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,...,2.030613,-0.627925,2.533579,-0.556072,-0.627925,-0.556072,0.665418,-0.627925,0.809123,-0.627925
4,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.484220,1.168384,-0.412368,-0.627925,-0.627925,...,0.737270,1.312089,-0.627925,-0.627925,-0.627925,1.599499,0.162451,0.880975,-0.627925,1.527646
5,-0.556072,1.240237,-0.556072,-0.627925,-0.556072,-0.484220,1.958760,-0.556072,-0.627925,-0.627925,...,-0.556072,-0.340515,2.246170,-0.196810,-0.627925,-0.556072,-0.556072,-0.484220,1.096532,-0.627925
6,-0.627925,-0.627925,1.599499,-0.627925,1.312089,-0.627925,-0.627925,-0.412368,-0.556072,-0.412368,...,-0.484220,1.168384,-0.627925,-0.627925,-0.627925,-0.627925,-0.340515,2.533579,-0.627925,-0.556072
7,-0.627925,-0.484220,-0.412368,-0.484220,-0.484220,-0.484220,-0.484220,-0.484220,-0.484220,-0.484220,...,-0.412368,-0.484220,-0.484220,-0.484220,-0.484220,-0.484220,-0.484220,-0.412368,-0.484220,-0.484220
8,-0.556072,-0.484220,-0.484220,-0.556072,-0.556072,-0.556072,-0.484220,-0.484220,-0.484220,-0.484220,...,-0.556072,-0.556072,-0.484220,-0.484220,-0.556072,-0.484220,-0.484220,-0.484220,-0.484220,-0.484220
9,-0.556072,-0.627925,-0.627925,-0.627925,-0.556072,-0.627925,-0.627925,-0.556072,-0.627925,-0.627925,...,-0.627925,1.312089,-0.053106,-0.268663,-0.627925,0.162451,0.521713,-0.627925,-0.627925,-0.412368
10,-0.484220,-0.556072,1.383941,-0.627925,-0.484220,1.096532,-0.627925,-0.627925,-0.627925,1.599499,...,-0.556072,0.737270,-0.627925,-0.627925,-0.556072,-0.340515,1.527646,-0.556072,-0.484220,0.952827
11,-0.196810,-0.196810,-0.340515,-0.412368,-0.268663,-0.340515,-0.340515,-0.268663,-0.340515,-0.268663,...,-0.196810,-0.196810,-0.268663,0.090599,-0.053106,-0.196810,0.737270,0.162451,-0.053106,-0.340515
12,-0.627925,-0.627925,-0.627925,-0.556072,-0.627925,0.952827,-0.556072,-0.556072,-0.627925,-0.556072,...,-0.627925,-0.484220,1.168384,-0.556072,-0.556072,1.096532,-0.627925,-0.556072,-0.627925,-0.627925
13,-0.627925,-0.627925,-0.556072,-0.627925,-0.627925,-0.627925,-0.484220,-0.627925,-0.627925,-0.412368,...,2.389875,-0.627925,1.671351,-0.412368,-0.627925,-0.556072,-0.627925,-0.556072,1.168384,-0.484220
14,-0.627925,-0.556072,-0.556072,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,...,-0.627925,-0.627925,1.455794,-0.627925,1.096532,-0.627925,-0.627925,1.743203,-0.627925,-0.627925
15,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.484220,1.815056,-0.556072,-0.627925,-0.412368,...,-0.627925,0.880975,0.809123,1.240237,-0.627925,-0.627925,0.737270,1.240237,0.306156,-0.627925
16,-0.627925,-0.627925,-0.627925,-0.268663,-0.556072,-0.412368,-0.556072,-0.627925,-0.627925,-0.268663,...,-0.124958,-0.627925,-0.196810,-0.627925,-0.627925,-0.268663,-0.627925,-0.627925,-0.627925,-0.053106
17,-0.556072,2.030613,-0.412368,-0.484220,-0.627925,-0.484220,-0.268663,3.611365,-0.268663,-0.627925,...,2.030613,-0.412368,-0.340515,-0.556072,1.527646,-0.627925,-0.484220,-0.340515,-0.484220,2.318022
18,-0.627925,-0.627925,-0.627925,-0.484220,1.455794,-0.556072,-0.627925,-0.484220,2.030613,-0.627925,...,-0.556072,1.958760,-0.556072,-0.627925,-0.627925,-0.412368,2.892841,-0.627925,-0.556072,-0.627925
19,-0.627925,-0.627925,-0.627925,-0.627925,-0.268663,-0.627925,-0.627925,-0.627925,-0.627925,-0.556072,...,-0.484220,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925
20,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,0.090599,-0.627925,0.378008,...,-0.627925,-0.627925,-0.627925,0.880975,-0.627925,-0.627925,-0.484220,0.809123,0.521713,-0.556072
21,-0.627925,-0.556072,0.952827,-0.627925,-0.556072,0.018747,-0.556072,0.018747,0.449861,-0.627925,...,-0.627925,-0.196810,-0.627925,0.090599,-0.627925,0.952827,0.737270,0.521713,0.234304,0.162451
22,-0.627925,-0.556072,-0.556072,-0.627925,-0.627925,-0.627925,-0.556072,-0.627925,-0.556072,-0.484220,...,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925
23,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.484220,-0.556072,-0.268663,-0.556072,-0.484220,...,-0.556072,-0.412368,-0.627925,-0.627925,-0.627925,-0.627925,-0.556072,-0.627925,-0.627925,-0.556072
24,-0.627925,-0.627925,-0.627925,-0.484220,-0.627925,-0.556072,-0.627925,-0.556072,-0.484220,0.880975,...,0.018747,1.455794,0.018747,-0.340515,-0.484220,-0.196810,-0.484220,-0.268663,-0.196810,0.018747
25,-0.627925,-0.627925,-0.556072,-0.627925,-0.627925,-0.627925,-0.556072,-0.412368,-0.412368,-0.556072,...,-0.196810,-0.556072,-0.484220,0.234304,-0.196810,0.162451,-0.627925,-0.412368,-0.627925,-0.627925
26,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,0.378008,-0.627925,-0.124958,...,-0.627925,0.018747,-0.627925,-0.627925,-0.412368,0.018747,-0.412368,-0.627925,0.737270,0.162451
27,-0.627925,-0.556072,-0.627925,-0.627925,-0.627925,-0.556072,-0.627925,-0.627925,-0.627925,-0.627925,...,-0.627925,-0.340515,-0.627925,0.737270,-0.053106,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925
28,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.412368,-0.556072,-0.556072,-0.627925,-0.556072,...,-0.627925,-0.627925,-0.627925,-0.484220,-0.340515,-0.627925,-0.627925,-0.627925,-0.627925,-0.484220
29,-0.627925,-0.627925,-0.627925,-0.268663,-0.556072,-0.340515,-0.627925,-0.627925,-0.627925,-0.627925,...,-0.627925,0.018747,-0.627925,0.593566,-0.627925,-0.340515,-0.627925,0.952827,-0.627925,-0.268663
30,-0.627925,-0.627925,-0.484220,-0.556072,-0.556072,-0.556072,-0.627925,-0.627925,-0.627925,-0.556072,...,-0.556072,-0.627925,-0.627925,-0.556072,-0.627925,-0.556072,-0.556072,-0.627925,-0.484220,-0.484220
31,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.556072,-0.627925,-0.627925,...,-0.627925,-0.053106,-0.627925,-0.627925,0.306156,-0.627925,0.378008,0.593566,0.162451,-0.196810
32,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,-0.484220,-0.412368,-0.627925,-0.412368,...,-0.627925,-0.484220,-0.627925,-0.268663,-0.268663,-0.196810,-0.556072,-0.412368,0.306156,0.306156
33,-0.627925,-0.627925,-0.627925,-0.627925,-0.627925,2.749136,-0.627925,0.952827,1.312089,-0.627925,...,0.306156,-0.627925,1.168384,3.108398,-0.627925,2.964693,1.240237,-0.268663,-0.627925,0.880975

In [34]:
X_t0_t13 = data_times_clean.iloc[:,np.arange(0,14)]  #X_train
y_t14 = pd.DataFrame(data_times_clean[14])                       #y_train
X_t15_t28 = data_times_clean.iloc[:,np.arange(15,29)]#X_test
y_t30 = pd.DataFrame(data_times_clean[29])                      #y_test

In [35]:
X_t0_t13.to_csv('./visitor_data/X_train',index=False,header=False)
y_t14.to_csv('./visitor_data/y_train',index=False,header=False)
X_t15_t28.to_csv('./visitor_data/X_test',index=False,header=False)
y_t30.to_csv('./visitor_data/y_test',index=False,header=False)
data_times_clean.to_csv('./visitor_data/data_visitor_ori',index=False,header=False)