# IMPORT

In [1]:
import pymysql
import pandas as pd

In [2]:
def conn():
    mydb=pymysql.Connect('159.69.109.173','dataengnr','023y2hf82hfff','arenaliv3aidi2017',autocommit=True)
    return mydb.cursor()

In [3]:
def db_exe(query,c):
    try:
        if c.connection:
            print("connection exists")
            c.execute(query)
            return c.fetchall()
        else:
            print("trying to reconnect")
            c=conn()
    except Exception as e:
        return str(e)

In [4]:
conn = conn()

# GENERATE DATAFRAME

In [5]:
interaksi_log_query = """
SELECT DATE_FORMAT(created_at, "%Y-%m-%d %H:00:00") tanggal, channel_id as arena_id, 
SUM(CASE WHEN action_type = "view_stage" THEN 1 ELSE 0 END) AS view,
SUM(CASE WHEN action_type IN ("create_post_audience", "create_post_stage", "create_post_sticky") THEN 1 ELSE 0 END) AS posting,
SUM(CASE WHEN action_type = "expression" THEN 1 ELSE 0 END) AS expression,
SUM(CASE WHEN action_type = "polling" THEN 1 ELSE 0 END) AS polling
FROM action_log al
WHERE channel_id IS NOT NULL
GROUP BY DATE_FORMAT(created_at, "%Y-%m-%d %H:00:00"), channel_id"""

In [ ]:
result = db_exe(interaksi_log_query,conn)

connection exists

In [ ]:
interaksi_log = pd.DataFrame(result, columns=['tanggal', 'arena_id', 'view', 'posting', 'expression', 'polling'])

In [ ]:
interaksi_log["tanggal"] = interaksi_log["tanggal"].astype("datetime64")
interaksi_log["arena_id"] = interaksi_log["arena_id"].astype("int64")
interaksi_log["view"] = interaksi_log["view"].astype("int64")
interaksi_log["posting"] = interaksi_log["posting"].astype("int64")
interaksi_log["expression"] = interaksi_log["expression"].astype("int64")
interaksi_log["polling"] = interaksi_log["polling"].astype("int64")

In [ ]:
interaksi_log.info()

In [ ]:
interaksi_post_query = """
SELECT DATE_FORMAT(FROM_UNIXTIME(created_at), "%Y-%m-%d %H:00:00") tanggal, arena_id,
SUM(expression) AS expression, COUNT(*) AS posting, 
SUM(CASE WHEN highlight_id != 0 THEN 1 ELSE 0 END) AS quote,
SUM(CASE WHEN reply_to_id != 0 THEN 1 ELSE 0 END) AS reply,
COUNT(DISTINCT(actor_id)) AS participant
FROM arena_post ap
WHERE deleted = 0
GROUP BY DATE_FORMAT(FROM_UNIXTIME(created_at), "%Y-%m-%d %H:00:00"), arena_id"""

In [ ]:
result = db_exe(interaksi_post_query,conn)

In [ ]:
interaksi_post = pd.DataFrame(result, columns=['tanggal', 'arena_id', 'expression', 'posting', 'quote', 'reply',
       'participant'])

In [ ]:
interaksi_post["tanggal"] = interaksi_post["tanggal"].astype("datetime64")
interaksi_post["arena_id"] = interaksi_post["arena_id"].astype("int64")
interaksi_post["quote"] = interaksi_post["quote"].astype("int64")
interaksi_post["posting"] = interaksi_post["posting"].astype("int64")
interaksi_post["expression"] = interaksi_post["expression"].astype("int64")
interaksi_post["reply"] = interaksi_post["reply"].astype("int64")
interaksi_post["participant"] = interaksi_post["participant"].astype("int64")

In [ ]:
interaksi_post.info()

In [ ]:
interaksi_bookmark_query = """
SELECT DATE_FORMAT(FROM_UNIXTIME(created_at), "%Y-%m-%d %H:00:00") tanggal, ap.arena_id, 
COUNT(*) AS bookmark
FROM arena_post_bookmarks apb LEFT JOIN arena_post ap
ON apb.post_id = ap.id
GROUP BY DATE_FORMAT(FROM_UNIXTIME(created_at), "%Y-%m-%d %H:00:00"), arena_id"""

In [ ]:
result = db_exe(interaksi_bookmark_query,conn)

In [ ]:
interaksi_bookmark = pd.DataFrame(result, columns=['tanggal', 'arena_id', 'bookmark'])

In [ ]:
interaksi_bookmark["tanggal"] = interaksi_bookmark["tanggal"].astype("datetime64")
interaksi_bookmark["arena_id"] = interaksi_bookmark["arena_id"].astype("int64")
interaksi_bookmark["bookmark"] = interaksi_bookmark["bookmark"].astype("int64")

In [ ]:
interaksi_bookmark.info()

In [ ]:
interaksi_questioner_query = """
SELECT DATE_FORMAT(FROM_UNIXTIME(created_at), "%Y-%m-%d %H:00:00") tanggal, 
arena_id, SUM(CASE WHEN questioner_type = 1 THEN 1 ELSE 0 END) AS survey,
SUM(CASE WHEN questioner_type = 2 THEN 1 ELSE 0 END) AS quis
FROM(
SELECT qup.id, qup.user_id, qup.created_at, aq.questioner_type, aq.arena_id 
FROM questioner_user_participations qup LEFT JOIN arena_questioner aq
ON qup.questioner_id = aq.id
) X
GROUP BY DATE_FORMAT(FROM_UNIXTIME(created_at), "%Y-%m-%d %H:00:00"), arena_id"""

In [ ]:
result = db_exe(interaksi_questioner_query,conn)

In [ ]:
interaksi_questioner = pd.DataFrame(result, columns=['tanggal', 'arena_id', 'survey', 'quis'])

In [ ]:
interaksi_questioner["tanggal"] = interaksi_questioner["tanggal"].astype("datetime64")
interaksi_questioner["arena_id"] = interaksi_questioner["arena_id"].astype("int64")
interaksi_questioner["survey"] = interaksi_questioner["survey"].astype("int64")
interaksi_questioner["quis"] = interaksi_questioner["quis"].astype("int64")

In [ ]:
interaksi_questioner.info()

In [ ]:
interaksi_polling_query = """
SELECT DATE_FORMAT(FROM_UNIXTIME(created_at), "%Y-%m-%d %H:00:00") tanggal, arena_id, 
SUM(vote_count) AS polling
FROM(
SELECT apc.id, ap.created_at, apc.vote_count, ap.arena_id 
FROM arena_polling_choice apc INNER JOIN arena_post ap
ON apc.post_id = ap.id WHERE ap.deleted = 0) X
GROUP BY DATE_FORMAT(FROM_UNIXTIME(created_at), "%Y-%m-%d %H:00:00"), arena_id"""

In [ ]:
result = db_exe(interaksi_polling_query,conn)

In [ ]:
interaksi_polling = pd.DataFrame(result, columns=['tanggal', 'arena_id', 'polling'])

In [ ]:
interaksi_polling["tanggal"] = interaksi_polling["tanggal"].astype("datetime64")
interaksi_polling["arena_id"] = interaksi_polling["arena_id"].astype("int64")
interaksi_polling["polling"] = interaksi_polling["polling"].astype("int64")

In [ ]:
interaksi_polling.info()

# JOINING DF

In [ ]:
interaksi_post.info()

In [ ]:
join1 = pd.merge(interaksi_log, interaksi_post, 
                 how="outer", 
                 left_on=["tanggal", "arena_id"], 
                 right_on=["tanggal", "arena_id"])

In [ ]:
join1.isna().any()

In [ ]:
join1.info()

In [ ]:
join1.fillna(0, inplace=True)
join1["posting"] = join1["posting_x"] + join1["posting_y"]
join1["expression"] = join1["expression_x"] + join1["expression_y"]
join1.drop(["posting_x", "expression_x", "expression_y", "posting_y"], axis=1, inplace=True)

In [ ]:
join1.isna().any()

In [ ]:
join1

In [ ]:
join2 = pd.merge(join1, interaksi_polling, left_on=["tanggal", "arena_id"], right_on=["tanggal", "arena_id"], how="outer")

In [ ]:
join2.isna().any()

In [ ]:
join2.fillna(0, inplace=True)
join2["polling"] = join2["polling_x"] + join2["polling_y"]
join2.drop(["polling_x", "polling_y"], axis=1, inplace=True)

In [ ]:
join2.isna().any()

In [ ]:
join2

In [ ]:
join3 = pd.merge(join2, interaksi_bookmark, left_on=["tanggal", "arena_id"], right_on=["tanggal", "arena_id"], how="outer")

In [ ]:
join3.isna().any()

In [ ]:
join3.fillna(0, inplace=True)

In [ ]:
join3

In [ ]:
join4 = pd.merge(join3, interaksi_questioner, left_on=["tanggal", "arena_id"], right_on=["tanggal", "arena_id"], how="outer")

In [ ]:
join4.isna().any()

In [ ]:
join4.fillna(0, inplace=True)
join4["tanggal"] = pd.to_datetime(join4["tanggal"])
join4["arena_id"] = join4["arena_id"].astype(int)
join4["view"] = join4["view"].astype(int)
join4["polling"] = join4["polling"].astype(int)
join4["quote"] = join4["quote"].astype(int)
join4["reply"] = join4["reply"].astype(int)
join4["participant"] = join4["participant"].astype(int)
join4["posting"] = join4["posting"].astype(int)
join4["expression"] = join4["expression"].astype(int)
join4["bookmark"] = join4["bookmark"].astype(int)
join4["survey"] = join4["survey"].astype(int)
join4["quis"] = join4["quis"].astype(int)

In [ ]:
join4.isna().any()

In [ ]:
join4

In [ ]:
join4.to_csv("trending.csv", index=False)

In [ ]:
join4["score"] = join4.drop(["tanggal", "arena_id"], axis=1).sum(axis=1, skipna=True)

In [ ]:
join4